In [ ]:
#Shardul Rasal
#25070123155

In [ ]:
thisset={"apple","banana","cherry"}
print(thisset)
thisset={"apple","banana","cherry","apple"}
print(thisset)
thisset={"apple","banana","cherry",True,1,2}
print(thisset)
thisset={"apple","banana","cherry","apple"}
print("banana" in thisset)
print("Grapes" in thisset)
thisset={"apple","banana","cherry"}
thisset.add("orange")
print(thisset)
thisset={"apple","banana","cherry"}
thisset.add(2)
print(thisset)
thisset={"apple","banana","cherry"}
thisset.remove("banana")
print(thisset)
# Set Operation
A = {1,2,3,4}
B = {3,4,5,6}
print("union:", A|B)
print("intersection:", A&B)
print("Difference1:", A-B)
print("Difference2:", B-A)
print("symmetric difference:", A^B)
# Frozenset
x = frozenset({"apple","banana","cherry"})
print(x)
print(type(x))
studentlist={"a","b","c","d","b","c"}
studentlist = set(studentlist)
y = studentlist
print(y)
x = {"Maths","Physics","Chemistry"}
y = {"Biology","Physics","Chemistry"}
z= {"Maths","Biology","Chemistry"}
common_subjects = x & y & z
print(common_subjects)
cricket = {"Vishvam","Yuvraj","Niyant"}
football = {"Vishvam","Glen","Vrishin"}
print("students in one club are", cricket & football)
print("students in one club are", cricket ^ football)
all_students = {"Vishvam","Khush","Harshit","Kshitij","Niyant","Yuvraj"}
present_students ={"Vishvam","Khush","Niyant" }
absent_students = all_students - present_students
print("Absent students", absent_students)
course = {"ETC101", "ETC102", "ETC103"}
course.discard("ETC102")
print("Updated Course", course)

{'banana', 'cherry', 'apple'}
{'banana', 'cherry', 'apple'}
{True, 2, 'cherry', 'banana', 'apple'}
True
False
{'banana', 'cherry', 'orange', 'apple'}
{'banana', 2, 'cherry', 'apple'}
{'cherry', 'apple'}
union: {1, 2, 3, 4, 5, 6}
intersection: {3, 4}
Difference1: {1, 2}
Difference2: {5, 6}
symmetric difference: {1, 2, 5, 6}
frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>
{'c', 'b', 'd', 'a'}
{'Chemistry'}
students in one club are {'Vishvam'}
students in one club are {'Niyant', 'Yuvraj', 'Vrishin', 'Glen'}
Absent students {'Harshit', 'Yuvraj', 'Kshitij'}
Updated Course {'ETC103', 'ETC101'}