In [ ]:
#Shardul Rasal
#25070123155

In [ ]:
thisset={"apple","banana","cherry",}
print(thisset)

{'banana', 'apple', 'cherry'}

In [ ]:
thisset={"apple","banana","cherry",}
print(thisset[1])

TypeError: 'set' object is not subscriptable

In [ ]:
thisset={"apple","banana","cherry","apple"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [ ]:
thisset={"apple","banana","cherry",True,1,2}
print(thisset)

{True, 2, 'banana', 'apple', 'cherry'}

In [ ]:
thisset={"apple","banana","cherry","apple"}
print("banana" in thisset)
print("Grapes" in thisset)

True
False

In [ ]:
thisset={"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'banana', 'apple', 'cherry'}

In [ ]:
thisset={"apple","banana","cherry"}
thisset.add(2)
print(thisset)

{'banana', 'apple', 2, 'cherry'}

In [ ]:
thisset={"apple","banana","cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [ ]:
# Set Operation
A = {1,2,3,4}
B = {3,4,5,6}
print("union:", A|B)
print("intersection:", A&B)
print("Difference1:", A-B)
print("Difference2:", B-A)
print("symmetric difference:", A^B)

union: {1, 2, 3, 4, 5, 6}
intersection: {3, 4}
Difference1: {1, 2}
Difference2: {5, 6}
symmetric difference: {1, 2, 5, 6}

In [ ]:
# Frozenset
x = frozenset({"apple","banana","cherry"})
print(x)
print(type(x))

frozenset({'banana', 'apple', 'cherry'})
<class 'frozenset'>

In [ ]:
studentlist={"a","b","c","d","b","c"}
studentlist = set(studentlist)
y = studentlist
print(y)

{'a', 'c', 'b', 'd'}

In [ ]:
x = {"Maths","Physics","Chemistry"}
y = {"Biology","Physics","Chemistry"}
z= {"Maths","Biology","Chemistry"}
common_subjects = x & y & z
print(common_subjects)

{'Chemistry'}

In [ ]:
cricket = {"Vishvam","Yuvraj","Niyant"}
football = {"Vishvam","Glen","Vrishin"}
print("students in one club are", cricket & football)
print("students in one club are", cricket ^ football)

students in one club are {'Vishvam'}
students in one club are {'Vrishin', 'Glen', 'Niyant', 'Yuvraj'}

In [ ]:
all_students = {"Vishvam","Khush","Harshit","Kshitij","Niyant","Yuvraj"}
present_students ={"Vishvam","Khush","Niyant" }
absent_students = all_students - present_students
print("Absent students", absent_students)

Absent students {'Kshitij', 'Yuvraj', 'Harshit'}

In [ ]:
course = {"ETC101", "ETC102", "ETC103"}
course.discard("ETC102")
print("Updated Course", course)

Updated Course {'ETC101', 'ETC103'}